* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Courier New', Courier, monospace;

}

main{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* background-color: #137fa0; */

}

.profile{
	flex: 1;
	background-color: #072e3a;
	display: grid;
	place-items: center;
}

.prof-pic{
	width: 250px;
	height: 250px;
	background: linear-gradient(to left, #072e3a, #0e5c74, #137fa0);
	border-radius: 100%;
	display: grid;
	place-items: center;

	& img{
		width: 100%;
		height: 100%;
	}
}

.intro-wrapper{
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	& .intro{
		font-size: 1.6rem;
	}
}
.intro{

	& span{
		color: #072e3a;
	}
	& p > strong{
		color: #137fa0;
		text-transform: uppercase;
		letter-spacing: 1.2px;
	}
}